{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="text-center mt-4 mb-2" style=" font-weight: 700; letter-spacing: 1px;">
    Live Cryptocurrency Trends & Market Insights
</h1>
<p class="text-center mb-5" style="max-width: 800px; margin: 0 auto; font-size: 0.9rem;">
    Track real-time price movements and 7-day performance trends of top cryptocurrencies. 
    Stay ahead of the market with clear visual insights showing which coins are rising 
    and which are cooling down.
</p>

<table class="table mx-auto text-center justify-content-center align-items-center" style="justify-content: center; width: 75vw;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="w-25">Coin ID</th>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Trends</th>
        </tr>
    </thead>
    <tbody>
        {% for coin in coins %}
        <tr style="height : 80px; cursor: pointer;" onclick="window.location.href='/coin/{{ coin.id }}'">
            <th scope="row" style="vertical-align: middle;">{{ loop.index }}</th>
            <td>{{ coin.id }}</td>
            <td>{{ coin.symbol }}</td>
            <td>{{ coin.name }}</td>
            <td><img src="/static/charts/{{ coin.symbol }}.png" alt="{{ coin.name }} trends" height="80px"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}