{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row align-items-center" style="min-height: 100vh;">
        <div class="col text-center" data-aos="fade-up">
            <h1 class="display-4 fw-bold">Welcome to CryptoGram</h1>
            <p class="lead mt-4">Your Gateway to Real-Time Cryptocurrency Insights</p>
            <a href="/home" class="btn btn-primary btn-lg mt-3">Get Started</a>
        </div>
    </div>
</div>

{% endblock %}
